.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.form-card {
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.form-row mat-form-field {
  flex: 1;
}

.button-row {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.filtro-container {
  margin-bottom: 20px;
}

.filtro-container mat-form-field {
  width: 100%;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.centered-table {
  max-width: 1200px;
  border-radius: 8px;
  overflow: hidden;
  border-collapse: separate; 
  border-spacing: 10px;
  border-radius: 20px;
  background-color: rgb(189, 234, 219);
}

.centered-table th,
.centered-table td {
  padding: 20px; 
  text-align: center; 
  box-sizing: border-box; 
}

.centered-table th {
  background-color: #f8f4bc; 
  font-weight: bold; 
}
.centered-table td {
  background-color: #ffffff; 
}